body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  font-size: 35px;
  width: 100%;
  padding-top: 30px;
}


header img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  float: left;
  margin-left: 30px;

}

header h1 {
  color: white;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #006577;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  color: white;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar a,
.dropbtn {
  color: white;
  text-decoration: none;
  padding: 10px 14px;
  background-color: inherit;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #5CE1E6;
  border-radius: 5px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  top: 40px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 10;
}

.dropdown-content a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.search-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-container input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.search-container button {
  padding: 8px 12px;
  background-color: #0097B2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: lightgray;
  color: black;
}


@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .search-container {
    margin-top: 10px;
  }

}

footer {
  background-color: #006577;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer p {
  margin: 6px 0;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social-icons a:hover img {
  transform: scale(1.2);
  filter: brightness(1.4);
}
